<!-- desktop banner-->
<div class="hidden-wrapper"></div>
<section class="banner d-none d-sm-block">
	<div class="banner-content">
		<div class="banner-header">
			<h1>MAURA <span class="tourquose-color">BAPTISTA</span></h1>
			<p>Junior Full Stack Web Developer</p>
		</div>
		<div class="social-network-icons">
			<%= link_to "https://github.com/maura-baptista", class: "" do %>
			  <i class="fab fa-github"></i>
			<% end %>
			<%= link_to "https://d-none d-lg-blockwww.linkedin.com/in/maurabaptista/", class: "" do %>
				<i class="fab fa-linkedin-in"></i>	
			<% end %>

			<%= link_to "https://www.facebook.com/maura.mendes.54", class: "" do %>
				<i class="fab fa-facebook-f"></i>
			<% end %>
			
		</div>		
	</div>
	<div class="banner-hero">
		
	</div>
</section>

<!-- mobile banner -->
<section class="banner-mob d-sm-none d-md-none d-lg-none">	
</section>
<section class="banner-header-mob">
	<div class="header-description">
		<h1>MAURA <span class="tourquose-color">BAPTISTA</span></h1>
		<p>Junior Full Stack Web Developer</p>
	</div>
</section>

<!-- desktop version -->
<section class="about-me-wrapper" id="about-me">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 offset-sm-1">
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<div class="avatar-container">
							<div class="avatar">
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-9">
						<div class="description-container">
							<h2>ABOUT ME</h2>
							<p>Hi, I'm Maura!  I'm a junior full stack web developer based in Paris, skilled in Ruby on Rails  stack, but curious about and happy to explore other programming technologies. <br>

							I've graduated from Lewagom in Lisbon( 9 weeks intensive web development bootcamp), where I had a chance of not only learning full stack technologies, but also team programming, best practices and test driven development. <br>

							I'm a native Portuguese language speaker,  fluent in English, with French language skills on an intermediate level. <br>

							Currently I'm looking for full stack,  backend or frontend job opportunity in Paris.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>
<section class="skills-wrapper" id="my-skills">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10 offset-sm-1">
				<div class="skills-section section">
				    <h2 class="section-title"><i class="fas fa-code"></i>Tecnical Skills &amp; Proficiency</h2>
				    <div class="skillset">
				    	<div class="item">
				    	    <h3 class="level-title">Ruby</h3>
				    	    <div class="level-bar">
				    	        <div class="level-bar-inner" data-level="85%">
				    	        </div>
				    	    </div><!--//level-bar-->
				    	</div><!--//item-->
				        <div class="item">
				            <h3 class="level-title">Ruby on Rails</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="85%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->

				        <div class="item">
				            <h3 class="level-title">Javascript</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="40%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->
				        <div class="item">
				            <h3 class="level-title">React</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="20%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->
				        <div class="item">
				            <h3 class="level-title">Redux</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="20%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->
				        <div class="item">
				            <h3 class="level-title">jQuery</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="40%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->
				        <div class="item">
				            <h3 class="level-title">SQL</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="60%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->
				        <div class="item">
				            <h3 class="level-title">HTML &amp; CSS</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="95%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->
				        <div class="item">
				            <h3 class="level-title">Bootstrap</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="95%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->

				        <div class="item">
				            <h3 class="level-title">GitHub/Bitbucket</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="80%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->
				        <div class="item">
				            <h3 class="level-title">Git</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="80%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->
				        <div class="item">
				            <h3 class="level-title">PostgreSQL</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="70%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->

				        <div class="item">
				            <h3 class="level-title">Heroku</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="80%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->
				        <div class="item">
				            <h3 class="level-title">Sketch / Figma</h3>
				            <div class="level-bar">
				                <div class="level-bar-inner" data-level="80%">
				                </div>
				            </div><!--//level-bar-->
				        </div><!--//item-->
				    </div>
				</div><!--//skills-section-->
			</div>
		</div>
	</div>
</section>
<section class="other-skills-wrapper">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="languages">
					<div>
						<h2><i class="fas fa-globe-africa"></i>LANGUAGES</h2>
						<div class="languages-list">
							<ul>
								<li><span class="lang-box">French (Intermediate)</span></li>
								<li><span class="lang-box">Portuguese (Native)</span></li>
								<li><span class="lang-box">English (Fluent)</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="personal-skills">
					<div>
						<h2><i class="fas fa-user-circle"></i>PERSONAL SKILLS</h2>
						<div class="personal-skills-list">
							<ul>
								<li><i class="fas fa-circle"></i>Creative and Inventive Thinker</li>
								<li><i class="fas fa-circle"></i>Not afraid to work outside my confort zone</li>
								<li><i class="fas fa-circle"></i>Motivated team player</li>
								<li><i class="fas fa-circle"></i>Aim to push expectation and exceed goals</li>
								<li><i class="fas fa-circle"></i>Pragmatic and results oriented</li>
								<li><i class="fas fa-circle"></i>Curious and quick learner</li>
							</ul>
						</div>	
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
<section class="my-projects-wrapper" id="my-projects">
	<div class="projects-inner-container">
		<div class="container">
			<h2> <i class="fas fa-laptop-code"></i> WHAT I’VE BUILT SO FAR:</h2>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="card-project-img " style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path'm3village.png' %>);">
						<div class="card-info">
					  	
					  		<%= link_to "http://www.m3village.com/", class: "" do %>
					  		  <i class="fas fa-eye"></i>
					  		<% end %>
					  		<%= link_to "https://github.com/maura-baptista/m3_village", class: "" do %>
					  		  <i class="fab fa-github"></i>
					  		<% end %>
					    </div>
						<div class="gradient-overlay"></div>
						<div class="color-overlay"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="project-description-container">
						<div class="project-description">
							<h3>M3 Village</h3>
							<p><span class="projects-sub">Technologies</span>: HTML, CSS, JavaScript, jQuery, canvas;</p>
							<p><span class="projects-sub">Description</span>: It's a showcase website for a Guesthouse and restaurant. Booking enquiries can be received via a contact form.(NOTE: the website is a work in progress)</p>
						</div>
						
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="project-description-container">
						<div class="project-description">
							<h3>Coshippers</h3>
							<p><span class="projects-sub">Technologies</span>: HTML, CSS, JavaScript, jQuery, canvas;</p>
							<p><span class="projects-sub">Description</span>: It's a marketplace where expats get to share a container when moving abroad. This application's goal is to allow expats to sell their container's unused space when they are moving thus, reducing their bill, and their carbon footprint as well.</p>
						</div>
						
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="card-project-img " style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path'coshippers.png' %>);">
						<div class="card-info">
					  	
					  		<%= link_to "https://www.coshippers.com/", class: "" do %>
					  		  <i class="fas fa-eye"></i>
					  		<% end %>
					  		<%= link_to "https://github.com/maura-baptista/-mygroupage2", class: "" do %>
					  		  <i class="fab fa-github"></i>
					  		<% end %>
					    </div>
						<div class="gradient-overlay"></div>
						<div class="color-overlay"></div>
					</div>
				
				</div>	
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="card-project-img " style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path'baobart.png' %>);">
						<div class="card-info">
					  	
					  		<%= link_to "https://baobart.herokuapp.com/", class: "" do %>
					  		  <i class="fas fa-eye"></i>
					  		<% end %>
					  		<%= link_to "https://github.com/maura-baptista/baobart", class: "" do %>
					  		  <i class="fab fa-github"></i>
					  		<% end %>
					    </div>
						<div class="gradient-overlay"></div>
						<div class="color-overlay"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="project-description-container">
						<div class="project-description">
							<h3>Baob'Art</h3>
							<p><span class="projects-sub">Technologies</span>: HTML, CSS, JavaScript, jQuery, canvas;</p>
							<p><span class="projects-sub">Description</span>: E-commerce website showcasing homemade crafts from Mozambique (NOTE: the website is a work in progress).</p>
						</div>
						
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="project-description-container">
						<div class="project-description">
							<h3>React Aibnb </h3>
							<p><span class="projects-sub">Technologies</span>: HTML, CSS, JavaScript, jQuery, canvas;</p>
							<p><span class="projects-sub">Description</span>: Single page application, with a "fake" database, that shows a flat/apparment in the map when it's selected.</p>
						</div>
						
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="card-project-img " style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path'react-airbnb.png' %>);">
						<div class="card-info">
					  	
					  		<%= link_to "https://maura-baptista.github.io/react-flats/", class: "" do %>
					  		  <i class="fas fa-eye"></i>
					  		<% end %>
					  		<%= link_to "https://github.com/maura-baptista/react-flats", class: "" do %>
					  		  <i class="fab fa-github"></i>
					  		<% end %>
					    </div>
						<div class="gradient-overlay"></div>
						<div class="color-overlay"></div>
					</div>
				
				</div>	
			</div>
			<hr>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="card-project-img " style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path'react-gifs.png' %>);">
						<div class="card-info">
					  	
					  		<%= link_to "https://maura-baptista.github.io/react-gifs/", class: "" do %>
					  		  <i class="fas fa-eye"></i>
					  		<% end %>
					  		<%= link_to "https://github.com/maura-baptista/react-gifs", class: "" do %>
					  		  <i class="fab fa-github"></i>
					  		<% end %>
					    </div>
						<div class="gradient-overlay"></div>
						<div class="color-overlay"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="project-description-container">
						<div class="project-description">
							<h3>React Giphy </h3>
							<p><span class="projects-sub">Technologies</span>: HTML, CSS, JavaScript, jQuery, canvas;</p>
							<p><span class="projects-sub">Description</span>: Single page application that fetches search-related gifs using Giphy's API.</p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="education-wrapper" id="my-education">
	<div class="container">
		<h2> <i class="fas fa-graduation-cap"></i>EDUCATION</h2>

		<div class="row">
			<div class="col-xs-12 col-sm-10 offset-sm-1">
				<div class="row">
					<div class="col-sm-3">
						<div class="dates-container">
							<div class="dates">
								<h3>Jan - Mar 2018</h3>
							</div>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="course-description-container">
							<div class="course-description">
								<div>
									<h3>FULL STACK WEB DEVELOPER</h3>
									<h4>LE WAGOM - Lisbon, PT</h4>
									<p>Training in Ruby, Ruby on Rails, Javascript, SQL, HTML, CSS, Jquery, Git, Github, Heroku(and other technologies)</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="dates-container">
							<div class="dates">
								<h3>2007 - 2010</h3>
							</div>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="course-description-container">
							<div class="course-description">
								<div>
									<h3>FBSC IN MANAGEMENT</h3>
									<h4>USTM - Mozambique</h4>
									<p>Training in business management and development</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contact-form-wrapper" id="my-contact-details">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 offset-sm-3">
				<div class="social-network-contacts">		
					<div class="social-net-container">
							<h2>Get in Touch</h2>
							<div class="title-border"></div>
						<%= link_to "https://www.linkedin.com/in/maurabaptista/", class: "icon-border-blue" do %>
							<i class="fab fa-linkedin-in"></i>	
						<% end %>
						<%= link_to "https://github.com/maura-baptista", class: "" do %>
						  <i class="fab fa-github"></i>
						<% end %>

						<%= link_to "https://www.facebook.com/maura.mendes.54", class: "icon-border-dark-blue" do %>
							<i class="fab fa-facebook-f"></i>
						<% end %>
					</div>
				</div>
				<div class="contact-form-container">
					<div class="form-box">
						<%= simple_form_for @contact do |f| %>
						<div class="row">
							<div class="col-xs-12 col-sm-12">	
								<%= f.input :name, as: :string, required: true, label: false,  placeholder: "Your name *", input_html: { class: 'input-lg' } %>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<%= f.input :email, as: :email,  label: false, required: true, placeholder: ' Your email *' %>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<%= f.input :message, as: :text, input_html: { class: 'message-input' }, required: true, label: false,  placeholder: "Your message *" %>
							</div>
						</div>
						<div class="row hidden">
							<div class="col-xs-12 col-sm-12">
								<%= f.input :nickname, hint: 'leave this field blank' %>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<div class="form-btn-box">
									<%= f.submit "Send", class: "btn btn-form-submit"  %>
								</div>
							</div>
						</div>
						<% end %>
					</div>	
				</div>
			</div>
			
		</div>
	</div>
</section>	



