<div>
	<div class="container">
		<%= simple_form_for @contact do |f| %>
			<div class="row">
				<div class="col-xs-12 col-sm-12">	
					<%= f.input :name %>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-xs-12">
					<%= f.input :email, as: :email,  label: false, required: true, placeholder: ' Your email' %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<%= f.input :message, as: :text, input_html: { class: 'message-input' }, required: true, label: false,  placeholder: "Your message" %>
				</div>
			</div>
			<div class="row hidden">
				<div class="col-xs-12">
					<%= f.input :nickname, hint: 'leave this field blank' %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-btn-box">
						<%= f.submit "Send", class: "btn btn-form-submit"  %>
					</div>
				</div>
			</div> -->
		<% end %>
	</div>
</div>

<div>
	<div class="container">
		<%= simple_form_for @contact do |f| %>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<%= f.input :email %>
			</div>
		</div>
		<% end %>
	</div>
</div>